-@ val board: com.balopat.codingboard.CodingBoard
- attributes("title") = "CodingBoard - " + board

<script type="text/javascript" src="/js/shCore.js"></script>
<script type="text/javascript" src="/js/shBrushAppleScript.js"></script>
<script type="text/javascript" src="/js/shBrushAS3.js"></script>
<script type="text/javascript" src="/js/shBrushBash.js"></script>
<script type="text/javascript" src="/js/shBrushColdFusion.js"></script>
<script type="text/javascript" src="/js/shBrushCpp.js"></script>
<script type="text/javascript" src="/js/shBrushCSharp.js"></script>
<script type="text/javascript" src="/js/shBrushCss.js"></script>
<script type="text/javascript" src="/js/shBrushDelphi.js"></script>
<script type="text/javascript" src="/js/shBrushDiff.js"></script>
<script type="text/javascript" src="/js/shBrushErlang.js"></script>
<script type="text/javascript" src="/js/shBrushGroovy.js"></script>
<script type="text/javascript" src="/js/shBrushJava.js"></script>
<script type="text/javascript" src="/js/shBrushJavaFX.js"></script>
<script type="text/javascript" src="/js/shBrushJScript.js"></script>
<script type="text/javascript" src="/js/shBrushPerl.js"></script>
<script type="text/javascript" src="/js/shBrushPhp.js"></script>
<script type="text/javascript" src="/js/shBrushPlain.js"></script>
<script type="text/javascript" src="/js/shBrushPowerShell.js"></script>
<script type="text/javascript" src="/js/shBrushPython.js"></script>
<script type="text/javascript" src="/js/shBrushRuby.js"></script>
<script type="text/javascript" src="/js/shBrushSass.js"></script>
<script type="text/javascript" src="/js/shBrushScala.js"></script>
<script type="text/javascript" src="/js/shBrushSql.js"></script>
<script type="text/javascript" src="/js/shBrushVb.js"></script>
<script type="text/javascript" src="/js/shBrushXml.js"></script>
<script type="text/javascript" src="/js/shBrushClojure.js"></script>

<script src="http://d1n0x3qji82z53.cloudfront.net/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>



link(href="/css/shCore.css" rel="stylesheet" type="text/css")/
link(href="/css/shThemeMidnight.css" rel="stylesheet" type="text/css")/

div(class="container")
    div(class="row span8")
        h2= board
        br
    div(class="row span8 offset3")
        button(class="btn btn-info btn-large" onclick="window.location='/boards/#{board.url}/codesnippet'") share a codesnippet 

    div(class="row span11 " id="codeSnippets")
        - for (codeSnippet <- board.codeSnippets.reverse)
            div
                b= codeSnippet.description
            div
                #editor(class='#{codeSnippet.id}')
            :javascript
                var editor = ace.edit('#editor #{codeSnippet.id}');
                var languageMode = "ace/mode/#{codeSnippet.language}"
                editor.setValue("#{codeSnippet.code}");
                editor.getSession().setMode(languageMode);
            div
            i= codeSnippet.formattedTime


//    <script type="text/javascript">
//    | SyntaxHighlighter.all();
//    | var lastCodeSnippetId = '#{board.lastCodeSnippetId}';
//    | var board = '#{board.board}';
//    |</script>
<script src="/js/jquery-1.7.2.js"></script>
<script src="/js/application.js"></script>

