-@val boards: Iterable[com.balopat.codingboard.CodingBoard]
-@val errorMessage: String = ""

- attributes("title") = "CodingBoard"
<script src="/js/jquery-1.7.2.js"></script>
div(class="row span8 ")
    div#errorMessage
        p(class="text-error")=errorMessage
    
        button(id="goto_create_board" class="btn btn-success btn-large" onclick="window.location='/createboard'") + Create a board!

    - if (!boards.isEmpty)
        h2 Current CodingBoards

        table(class="table table-hover striped")
            - var i = 0
            - for (board <- boards)
                tr(class="clickable" onclick="window.location='/boards/#{board.url}';")
                    td
                        =board
                        - i+=1
                    td
                        span(id="time#{i}") #{board.timeLeftInSeconds(System.currentTimeMillis)} seconds left
                        <script type="text/javascript">
                        |    var timeLeftInSeconds#{i} = parseInt('#{board.timeLeftInSeconds(System.currentTimeMillis)}'.replace(',',''))
                        |    function updateTimer#{i}() {
                        |       var mins = Math.floor(timeLeftInSeconds#{i}/60)
                        |       var m = mins == 0 ? "" : mins + " minutes " 
                        |       $('#time#{i}').html( m + timeLeftInSeconds#{i}%60 + " seconds") 
                        |       if (timeLeftInSeconds#{i} <= 0)
                        |           $('#time#{i}').html('This CodingBoard has expired!')
                        |       timeLeftInSeconds#{i}--
                        |       setTimeout('updateTimer#{i}()', 1000)
                        |   }
                        |    updateTimer#{i}();
                        | </script>
div(class="row span8")
    h2 What is a CodingBoard? 
    p A simple collaboration tool to share information.
    p On a hands-on/teaching/practice session
    ol 
        li The presenter creates a CodingBoard for the session (no registration and other hassle)
        li Developers navigate to the CodingBoard  
        li paste their codes so that everyone sees it on the projected screen automatically updated
    p Share useful links in Plain Text. Write funny messages. Enjoy. That's it. 
    p Like a big, syntax highlighted chat. Simples.
    h2 Why does it timeout?
    p A CodingBoard is for a session. If you want to persist the result the only option is to save the page. Later on a Gist integration is likely but CodingBoard remains database free.

    
